html,body{
	max-width: 100%;
	overflow-x: hidden;
	font-family: montserrat;
	scroll-behavior: smooth;
	margin-top: 25px;
}

/*navbar*/

.navbar{
	width: 100%;
	z-index: 9999;
	background: linear-gradient( 100deg, rgb(157, 91, 254) 10%, rgb(56, 144, 254) 100%);
	padding-top:1px !important;
	padding-bottom:1px !important;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

}

.navbar-brand, .nav-link{
	color: white !important;
}

.nav-link{
	font-size: 14px;
}
.navbar-brand {
	font-family: montserrat;
	font-size: 26px;
}




/*header2*/
.header2{
	position: relative;
	display: flex;
	width: 100%;
	height: 400px;
	background: #eaeaea;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scaleX(3);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


/*info panel*/

.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -100px;
	background: linear-gradient( 0deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
	padding: 30px;

}

.info-panel img{
	width: 45px;
	height: 45px;
	margin-right: 20px;
	margin-bottom: 20px;


}

.info-panel h4{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
	color: white;
}

.info-panel p{
	font-size: 12px;
	color: #ddd;
	font-weight: 200;
}

/*about*/
.about{
	margin-top: 100px;
	text-align: center;
	color: #fff;

}

/*working space*/

.workingspace{
	text-align: center;
	margin-top:100px;
}

.workingspace h3{
	font-size: 45px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px
}

.workingspace h3 span{
	font-weight: 500;
}

.workingspace p{
	font-size: 18px;
	color: #acacac;
	font-weight: 200;
	margin: 20px 0;
}



/*testimonial*/

.testimonial{
	margin-top: 100px;
}

.testimonial h5{
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
}


/*section*/
.bungkus{
	width: 100%;
	min-height: 100vh;
/*	background-color: salmon;*/
}

/*footer*/
.footer{
	position: fixed;
	height: 100px;
	width:100%;
	bottom: 0;
	background: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
	font-size: 15px;
	padding: 20px;
	z-index: -9999;

}
.margin100px{
	height: auto;
	width: 100%;
	background: white /*linear-gradient( 200deg, rgb(144, 91, 254) 5%, rgb(56, 144, 254) 90%)*/;
	margin-bottom: 100px;
	z-index: 10;
}

/*services*/
.service .head{
	position: relative;
	display: flex;
	margin-top:100px;
	padding: 30px;
	background: linear-gradient( 45deg, #3503ad,#f7308c);
	justify-content: center;
	align-items: center;
	border-top-right-radius: 10px;
	height: 60px;
}
.service .head:before{
	content:'';
	position: absolute;
	top:0;
	left: 0;
	width: 15%;
	height: 100%;
	background:rgba(255,255,255,0.1);
	pointer-events: none;
}
.service .conten{
	position: relative;
	margin-top: 0;
	padding: 10px 30px 5px 30px;
	justify-content: center;
	align-items: center;
	background: white;
}

.service{
	box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
	border-radius: 20px;
}
.service .head h3{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	color: #eee;
	background: linear-gradient( 45deg, #3503ad,#f7308c);
	top: -10px;
	left: -10px;
	z-index: 21;

}

.service .head h4{
	color: #ddd;
	font-weight: bold;
}
.service .bawah{
	position: relative;
	background: linear-gradient( 45deg,#2000aa,#f6008c);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 20px 50px 30px;
}

.service .bawah ul{
	display: block;
	position: relative;
	color: white;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: left;
}
.service .bawah ul li{
	margin: 5px;
}

/*utility*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}

.tbl{
	display: inline-block;
	border-radius: 30px;
	background: linear-gradient( 20deg, rgb(144, 91, 254) 5%, rgb(56, 144, 254) 90%);
	position: absolute;
	bottom: 5px; 
	margin-top: 10px;
	text-decoration: none;
	color: #eee;
	width: 150px;
	height: 40px;
	box-shadow: 0 2px 20px solid rgba(0, 0, 0, .5);
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	transition: 800ms;

}
.tbl:hover{
	text-decoration: none;
	color: white;
	background: linear-gradient( 200deg, rgb(144, 91, 254) 50%, rgb(56, 144, 254) 100%);
}
.tbl img{
	width: 20px;
	height: 20px;
	margin-right: 5px; 
}
/*desktop version*/
@media (min-width: 992px) {
	.bungkus{
		min-height: 100vh;
	}
	.navbar-brand, .nav-link{
		color: white !important;

	}

	.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	}

	.nav-link:hover::after{
		content: '';
		display: block; 
		border-bottom: 3px solid  rgb(170, 110, 120);
		width: 50%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.nav-link:hover{
		font-weight: bold;
	}

	.header2{
	transform: scaleX(2);
}

	.workingspace{
	text-align: left;
	}
	
	.testimonial h5{
	font-size: 32px;
	}
}